
* {
  font-family: roboto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
}

.imgCarrito{
  height: 90px;
}

.subrayado {
  height: 1px;
}

body {
  background-color:black;
}

main {
  min-height: 82vh;
}

#listaBuscador {
  display: inline-block;
  width: 100%;
}

#buscador {
  display: inline-block;
  width: 180px;
}

#botonDebuscador {
  display: inline-block;
}

#botonFav{
  position: relative;
}

#botonCarro{
  position: relative;
}

#spamFavoritos {
  background-color:red;
  position: absolute;
  left:23px;
}


#spamCarrito {
  background-color:red;
  position: absolute;
  left:26px;
}

.titlePortada {
  font-size:roboto;
  font-weight:900;
}


#contenedorGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

.contenedorTitCat {
  background-color:rgba(0, 0, 0, 0.678);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-radius: 10px;

}

.botonClase {
  color: #ffff;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  border: none;
  border-radius: 10px;
}

.botonClase:hover{
  box-shadow: 1px 1px 20px -5px #ffff;
}

@media only screen and (max-width: 1199px) {
  #gridHeader {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-rows: 3fr 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
          "A A"
          "B C"
          "D E"
          "F F";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  #portada {
    grid-area:A;
    background-image: url(../assets/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  
  #categoriaMouse {
    grid-area:B;
    background-image: url(../assets/categoriaTeclado.jpg);
  }
  
  #categoriaAuri {
    grid-area:C;
    background-image: url(../assets/categoriaAuris.jpg);
  }
  
  #categoriaSilla {
    grid-area:D;
    background-image: url(../assets/categoriaSilla.jpg);
  }
  
  
  #categoriaCam {
    grid-area:E;
    background-image: url(../assets/categoriaCamm.jpg);
  }
  
  #categoriaTeclado {
    grid-area:F;
    background-image: url(../assets/categoriaTeclado.png);
  }
}

@media only screen and (min-width: 1199px) {
  #gridHeader {
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
          "A B C"
          "A D E"
          "A F F";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  #portada {
    grid-area:A;
    background-image: url(../assets/portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  
  #categoriaMouse {
    grid-area:B;
    background-image: url(../assets/categoriaTeclado.jpg);
  }
  
  #categoriaAuri {
    grid-area:C;
    background-image: url(../assets/categoriaAuris.jpg);
  }
  
  #categoriaSilla {
    grid-area:D;
    background-image: url(../assets/categoriaSilla.jpg);
  }
  
  
  #categoriaCam {
    grid-area:E;
    background-image: url(../assets/categoriaCamm.jpg);
  }
  
  #categoriaTeclado {
    grid-area:F;
    background-image: url(../assets/categoriaTeclado.png);
  }
}

.card {
  border-color: rgb(35, 35, 235);
  border-width: 2px;
}

.card:hover {
  box-shadow: 1px 1px 35px  red;
}

.iconCart {
  background: linear-gradient(to right, #df0024, #2e6db4);
  border-radius:5px;
}

.iconCart:hover {
  background: linear-gradient(to right, #d12743, #417abc);

}

.iconFav {
  background: linear-gradient(to right, #df0024, #2e6db4);
  border-radius:5px;
}
.iconFav:hover {
  background: linear-gradient(to right, #d12743, #417abc);
}

.ancalaFooter {
  list-style: none;
  text-decoration: none;
}

